body {
	background: #B3FFAB;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #12FFF7, #B3FFAB);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #12FFF7, #B3FFAB); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
span .btn {
	font-size: 0.6rem;
}
tr span {
	display: none;
}
tr:hover span {
	display: inline;
}
.container {
	background-color: white;
}
.cellSum {
	text-align: right;
}
#columnControls {
	width: 15%;
}
#columnDate {
	width: 15%;
}
#columnFrom {
	width: 25%;
}
#columnSum {
	width: 15%;
}
#columnTo {
	width: 30%;
}
